<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="jumbotron">
  <h1>Welcome to Pairbnb</h1>
  <p>We have thousands of properties for short stays in various cities to make you vacation more affordable</p>
  <p><a class="btn btn-primary btn-lg" href="/listings" role="button">Make A Listing</a></p>
</div>

THIS IS THE INDEX HTML>>IGNORE THE FB LOGIN BELOW>>JUST FOR LEARNING
<br>
<a href="/auth/facebook">Facebook login</a>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>